In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

Renvois X premiers resultat de l'entrée (5 si param vide)

In [8]:
df.head(5)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0

Renvois X derniers resultat de l'entrée (5 si param vide)

In [9]:
df.tail(5)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

Renvoi le nombre total de lignes et de colonnes dans le fichier (Row, Col)

In [6]:
df.shape

(1000, 10)

Renvoi la composition des col du fichier

In [10]:
df.columns

Index(['id', 'date', 'first_name', 'last_name', 'email', 'gender',
       'ip_address', 'country', 'price_paid', 'tax'],
      dtype='object')

In [11]:
df.columns.to_list()

['id',
 'date',
 'first_name',
 'last_name',
 'email',
 'gender',
 'ip_address',
 'country',
 'price_paid',
 'tax']

Renvoi l'index mini, maxi et le step de la liste

In [12]:
df.index

RangeIndex(start=0, stop=1000, step=1)

Renvoi la liste en modifiant la variable qui défini l'index du tableau, pour modifier l'objet réel (inplace=True)

In [13]:
df.set_index("email")

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
malders0@shop-pro.jp,1,03/28/2021,Marylin,Alders,Male,160.119.8.119,Canada,$5.36,NaN
hharridge1@gnu.org,2,03/19/2021,Hinda,Harridge,Female,210.51.172.132,Canada,$8.32,NaN
ekilminster2@etsy.com,3,03/17/2021,Erl,Kilminster,Male,213.8.101.145,United States,$3.73,20.0
gbrantl3@umn.edu,4,03/19/2021,Grata,Brantl,Female,5.140.237.101,United States,$3.70,20.0
kbeasant4@jigsy.com,5,03/24/2021,Kanya,Beasant,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...
derrigorn@elpais.com,996,03/24/2021,Duff,Errigo,Female,193.84.247.144,France,$3.63,NaN
arastallro@toplist.cz,997,03/17/2021,Ame,Rastall,Female,188.219.12.109,NaN,$4.59,20.0
bstickelsrp@cloudflare.com,998,03/13/2021,Betty,Stickels,Male,199.80.60.87,United States,$7.54,20.0
ptesoerq@rakuten.co.jp,999,03/17/2021,Paquito,Tesoe,Male,0.183.63.11,United States,$5.81,NaN
rpringuerrr@house.gov,1000,03/23/2021,Rochelle,Pringuer,NaN,170.193.249.83,Canada,$8.01,20.0